@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>瀏覽器地址:@base.ViewBag.BrowserUrl</h2>
    <h2>內部監聽地址:@base.ViewBag.InternalUrl</h2>
    <h2>次數:@base.ViewBag.TotalCount</h2>

    <div></div>
    <h2>SessionUser:@base.ViewBag.SessionUser</h2>
</div>